@font-face {
    font-family: 'JetBrainsMono-Italic';
    src: url('../Font/JetBrainsMono-Bold-Italic.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrainsMono-Italic';
    text-decoration: none;
}

a:visited {
    color: #fff;
}